# Name: integral_smooth

# Interactive mean smooth with integral images

# Author: Stephan Saalfeld <saalfeld@mpi-cbg.de>
# Version: 0.2b
# Date: 2010/03/10
# Requires: ImageJA 1.43b

Plugins, "Integral Mean Smooth", mpicbg.ij.integral.InteractiveMean
Plugins, "Integral Scale", mpicbg.ij.integral.InteractiveScale
Plugins, "Integral DoM", mpicbg.ij.integral.InteractiveDifferenceOfMean
