# Name: integral_smooth

# Interactive mean smooth with integral images

# Author: Stephan Saalfeld <saalfeld@mpi-cbg.de>
# Version: 0.1b
# Date: 2010/01/18
# Requires: ImageJA 1.43b

Plugins, "Integral Smooth", mpicbg.ij.integral.Smooth
Plugins, "Integral Scale", mpicbg.ij.integral.Scale
Plugins, "Integral DoM", mpicbg.ij.integral.DifferenceOfMean
