# Name: mpicbg_

# Local Image Features, Transformation Models and Mappings

# Author: Stephan Saalfeld <saalfeld@mpi-cbg.de> and Stephan Preibisch <preibisch@mpi-cbg.de>
# Version: 0.4b
# Date: 2008/10/14
# Requires: ImageJA 1.41m contrib

Plugins>Feature Extraction, "Extract SIFT Correspondences", SIFT_ExtractPointRoi
Plugins>Feature Extraction, "Extract MOPS Correspondences", MOPS_ExtractPointRoi
Plugins>Transform, "Interactive Rigid", Transform_Rigid
Plugins>Transform, "Interactive Similarity", Transform_Similarity
Plugins>Transform, "Interactive Affine", Transform_Affine
Plugins>Transform, "Interactive Perspective", Transform_Perspective
Plugins>Transform, "Interactive Moving Least Squares", Transform_MovingLeastSquaresMesh
Plugins>Transform, "Linear Stack Alignment with SIFT", SIFT_Align
Plugins>Transform, "Landmark Correspondences", Transform_Roi
Plugins, "Optic Flow", Optic_Flow