# Name: mpicbg_

# Local ImageFeatures and more in the future ...

# Author: Stephan Saalfeld <saalfeld@mpi-cbg.de> and Stephan Preibisch <preibisch@mpi-cbg.de>
# Version: 0.2b
# Date: 2008/06/12
# Requires: ImageJ 1.40c

#Plugins>Local_Features, "Test", SIFT_Test
#Plugins>Local_Features, "SIFT: Align Stack", SIFT_Align
Plugins>Local_Features, "Extract SIFT Correspondences", SIFT_ExtractPointRoi
Plugins>Local_Features, "Extract MOPS Correspondences", MOPS_ExtractPointRoi
Plugins>Local_Features, "Rigid Stack Alignment via SIFT", SIF_Align
Plugins>Transform, "Affine", Transform_Affine
Plugins>Transform, "Perspective", Transform_Perspective
Plugins>Transform, "Elastic", Transform_ElasticMesh
