# Name: mpicbg_

# Local Image Features, Transformation Models and Mappings

# Author: Stephan Saalfeld <saalfeld@mpi-cbg.de> and Stephan Preibisch <preibisch@mpi-cbg.de>
# Version: 0.4b
# Date: 2008/10/14
# Requires: ImageJA 1.41m contrib

Plugins>Feature Extraction, "Extract SIFT Correspondences", SIFT_ExtractPointRoi
Plugins>Feature Extraction, "Extract MOPS Correspondences", MOPS_ExtractPointRoi
Plugins>Feature Extraction, "Visualize SIFT Features", SIFT_Test
Plugins>Transform, "Interactive Rigid", Transform_Rigid
Plugins>Transform, "Interactive Similarity", Transform_Similarity
Plugins>Transform, "Interactive Affine", Transform_Affine
Plugins>Transform, "Interactive Perspective", Transform_Perspective
Plugins>Transform, "Interactive Moving Least Squares", Transform_MovingLeastSquaresMesh
Plugins>Transform, "Landmark Correspondences", Transform_Roi
Plugins>Transform, "Spring Mesh", Transform_SpringMesh
Plugins>Registration, "Linear Stack Alignment with SIFT", SIFT_Align
Plugins>Registration, "Elastic Stack Alignment with SIFT and Blockmatching", Align_SIFT_BlockMatching_ElasticMeshStack
Plugins>Registration, "Non-rigid Image Alignment with SIFT and Blockmatching", Align_SIFT_Blockmatching
Plugins, "Optic Flow", Optic_Flow
Plugins, "Find PointRoi", Find_PointRoi