# Name: mpicbg_

# Local Image Features, Transformation Models and Mappings

# Author: Stephan Saalfeld <saalfeld@mpi-cbg.de>
# Version: 0.6b
# Date: 2012/02/22
# Requires: ImageJA 1.43b

Plugins>Feature Extraction, "Extract SIFT Correspondences", SIFT_ExtractPointRoi
Plugins>Feature Extraction, "Extract MOPS Correspondences", MOPS_ExtractPointRoi
Plugins>Transform, "Interactive Rigid", Transform_Rigid
Plugins>Transform, "Interactive Similarity", Transform_Similarity
Plugins>Transform, "Interactive Affine", Transform_Affine
Plugins>Transform, "Interactive Perspective", Transform_Perspective
Plugins>Transform, "Interactive Moving Least Squares", Transform_MovingLeastSquaresMesh
Plugins>Transform, "Interactive Stack Rotation", Stack_Rotate
Plugins>Transform, "Landmark Correspondences", Transform_Roi
Plugins>Registration, "Linear Stack Alignment with SIFT", SIFT_Align
Process, "Enhance Local Contrast (CLAHE)", mpicbg.ij.clahe.PlugIn
Plugins>Registration>Elastic, "Elastic Stack Alignment", mpicbg.ij.plugin.ElasticAlign
Plugins>Registration>Elastic, "Elastic Montaging", mpicbg.ij.plugin.ElasticMontage
Plugins>Optic Flow, "Gaussian Window MSE", mpicbg.ij.plugin.MSEGaussianFlow
Plugins>Optic Flow, "Integral Block MSE", mpicbg.ij.plugin.MSEBlockFlow
Plugins>Optic Flow, "Integral Block PMCC", mpicbg.ij.plugin.PMCCBlockFlow
Plugins>Integral Image Filters, "Mean", mpicbg.ij.plugin.Mean
Plugins>Integral Image Filters, "Sample Variance", mpicbg.ij.plugin.SampleVariance
Plugins>Integral Image Filters, "Standard Deviation", mpicbg.ij.plugin.StandardDeviation
Plugins>Integral Image Filters, "Remove Outliers", mpicbg.ij.plugin.RemoveOutliers
Plugins>Integral Image Filters, "Normalize Local Contrast", mpicbg.ij.plugin.NormalizeLocalContrast
