# Name: integral_image

# Integral image filters

# Author: Stephan Saalfeld <saalfeld@mpi-cbg.de>
# Version: 0.4
# Date: 2012/10/29
# Requires: ImageJA 1.43b

Plugins>Interactive Integral Image Filters, "Interactive Mean", mpicbg.ij.integral.InteractiveMean
Plugins>Interactive Integral Image Filters, "Interactive Scale", mpicbg.ij.integral.InteractiveScale
Plugins>Interactive Integral Image Filters, "Interactive Difference of Mean", mpicbg.ij.integral.InteractiveDifferenceOfMean
Plugins>Interactive Integral Image Filters, "Interactive Sample Variance", mpicbg.ij.integral.InteractiveVariance
Plugins>Interactive Integral Image Filters, "Interactive Standard Deviation", mpicbg.ij.integral.InteractiveStandardDeviation
Plugins>Interactive Integral Image Filters, "Interactive Normalized Cross Correlation", mpicbg.ij.integral.InteractivePMCC
Plugins>Interactive Integral Image Filters, "Interactive Signed Square Normalized Cross Correlation", mpicbg.ij.integral.InteractiveSquarePMCC
Plugins>Interactive Integral Image Filters, "Interactive Miniature Faking", mpicbg.ij.integral.InteractiveTilt
Plugins>Integral Image Filters, "Mean", mpicbg.ij.plugin.Mean
Plugins>Integral Image Filters, "Sample Variance", mpicbg.ij.plugin.SampleVariance
Plugins>Integral Image Filters, "Standard Deviation", mpicbg.ij.plugin.StandardDeviation
Plugins>Integral Image Filters, "Remove Outliers", mpicbg.ij.plugin.RemoveOutliers
Plugins>Integral Image Filters, "Normalize Local Contrast", mpicbg.ij.plugin.NormalizeLocalContrast
Plugins>Optic Flow, "Integral Block MSE", mpicbg.ij.plugin.MSEBlockFlow
Plugins>Optic Flow, "Integral Block PMCC", mpicbg.ij.plugin.PMCCBlockFlow
